name: Tests
on: [push, pull_request]
env:
  CI: true

jobs:
  run:
    name: Node ${{ matrix.node }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        node: [12, 14, 16]
        # windows support not quite ready: os: [ubuntu-latest, windows-latest]
        os: [ubuntu-latest]

    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - run: git fetch --prune --unshallow

      - name: Set Node.js version
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - run: node --version
      - run: npm --version
      - run: git --version

      - name: Install npm dependencies
        run: npm ci

      - name: Set up ghauth config (Ubuntu)
        run: |
          mkdir -p ~/.config/changelog-maker/
          echo '{"user": "nodejs", "token": "'${{ secrets.GITHUB_TOKEN }}'"}' > ~/.config/changelog-maker/config.json
        if: startsWith(matrix.os, 'ubuntu')


      - name: Set up ghauth config (Windows)
        run: |
          mkdir "%LOCALAPPDATA%\changelog-maker\"
          echo {"user": "nodejs", "token": "${{ secrets.GITHUB_TOKEN }}"} > "%LOCALAPPDATA%\changelog-maker\config.json"
        shell: cmd
        if: startsWith(matrix.os, 'windows')

      - name: Run tests
        run: npm test
